.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
  color: wheat;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
}

.navClass {
  display: flex;
    justify-content: center;
    gap: 2em;
    list-style: none;
}
.navClass2 {
  display: flex !important;
  gap: 2em;
  list-style: none;
  justify-content: center;
}

.Addproduct{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  gap: 1em;

}
.Addproduct-div {
  display: flex;
  justify-content: center;
}


.invalid-input {
  display: flex;
  color: red;
  margin-top: -20px;
  font-weight: 600;
}

.productsList ul{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.productsList li {
  border: 1px solid burlywood;
  width: 15em;
}

.search-product-box {
    margin: 20px;
    width: 50%;
    text-align: center;
    height: 2em;
}